<!DOCTYPE html>
<html>
<head>
	<link href="../public/stylesheets/reset.css" rel="stylesheet" type="text/css">
	<link href="../public/stylesheets/application.css" rel="stylesheet" type="text/css">

<script type="text/javascript"
src="http://codysherman.com/tools/infinite-scrolling/code" ></script>
	
</head>

<body>
		<div id="bg">
			<img src="../public/images/background.png">
		</div>

	<header>

		<div id="topbar">
				<div class="topbar-left">

					<span class="home">
					<img src="../public/images/twitter-home.png" class="icon-home">
					<span class="text">Home</span>
					</span>
					<span class="connect">
					<span class="icon-connect">&#64;</span>
					<span class="text">Connect</span>
					</span>
					<span class="discover">
					<span class="icon-discover">&#35;</span>
					<span class="text">Discover</span>
					</span>
					<span class="me">
					<span class="icon-me"></span>
					<span class="text">Me</span>
					</span>
				</div>

				<div class="topbar-center">
					<img src="../public/images/twitter-bird.png">
				</div>
				<div class="topbar-right">
					<img src="https://">
					<input class="search" type="text" placeholder="Search">
				</div>

		</div>

	</header>


	<div id='main'>


		<div class="dashboard">
				<div class="aside miniprofile">
						<div class="profile-summary">
								<div class="account-summary">
									<img class="avatar" src="../public/images/default_profile_1_normal.png">
									<p class="name">Name</p>
									<p class="screen-name">@name</p>
								</div>
								<div class="profile-stats">
										<div class="stats">
											<a href="/" class="tweets">Tweets
												<p class="1">1</p>
											</a>
											<a href="/" class="following">Following
												<p class="1">9</p>
											</a>
											<a href="/" class="followers">Followers
												<p class="1">2</p>
											</a>
										</div>
								</div>
						</div>
						<div class="home-tweet-box">
								<input type="text" id="tweet" placeholder="Compose new Tweet&hellip;">
						</div>
				</div>

				<div class="aside who-to-follow">
						<div class="wtf-header">
								<h2>Who to follow</h2>
								<small>.</small>
								<a href="/">Refresh</a>
								<small>View all</small>
						</div>
						<div class="wtf-suggested-followers">
								<div class="suggested-followers">
										<div class="content">
													<img src="../public/images/FFC.png">
												<div class="account-group">
														<div class="wtf-content-header">
																<h3>Fulham Football Club</h3>
														</div>
														<div class="user-action">
																<input type="submit" value="Follow">
														</div>
												</div>
										</div>
								</div>	
						</div>

						<div class="wtf-suggested-followers">
								<div class="suggested-followers">
										<div class="content">
													<img src="../public/images/FFC.png">
												<div class="account-group">
														<div class="wtf-content-header">
																<h3>Fulham Football Club</h3>
														</div>
														<div class="user-action">
																<input type="submit" value="Follow">
														</div>
												</div>
										</div>
								</div>
						</div>

						<div class="wtf-suggested-followers">
								<div class="suggested-followers">
										<div class="content">
													<img src="../public/images/FFC.png">
												<div class="account-group">
														<div class="wtf-content-header">
																<h3>Fulham Football Club</h3>
														</div>
														<div class="user-action">
																<input type="submit" value="Follow">
														</div>
												</div>
										</div>
								</div>	
						</div>
						<div class="wtf-footer">
								<a href="">Popular accounts</a>
								.
								<a href="">Find friends</a>
						</div>
				</div>

				<div class="aside trends">
						<div class="aside-trends-header">
								<h3>Trends</h3> . <a href="">change</a>
						</div>
						<div class="aside-trends-content">
								<ul>
									<li># Phasellus</li>
									<li># nec urna</li>
									<li># est</li>
									<li># Nullam</li>
									<li># scelerisque</li>
									<li># Nullam</li>
									<li># scelerisque</li>
								</ul>
						</div>
				</div>

				<div class="aside footer">
						<div class="aside-footer-content">
						© 2014 Twitter About Help Terms Privacy
						Cookies Ads info Brand Blog Status Apps
						Jobs Advertise Businesses Media Developers
						</div>
				</div>

		</div>



		<div class="main-content">
					<div class="content-header">
							<h5>Tweets</h5>
					</div>

					<div class="content-stream">
								<img src="../public/images/techno.jpeg">
								<div class="content-stream-header">
									Praesent porttito @porttito - 1h
								</div>
								<div class="content-tweet">
									Vestibulum pretium, purus et congue suscipit, justo  dapibus purus, in ultricies dui orci a erat. @tempor
								</div>
								<div class="content-footer">
										<a href="/">Expand</a>
								</div>
					</div>

					<div class="content-stream">
								<img src="../public/images/techno.jpeg">
								<div class="content-stream-header">
									Praesent porttito @porttito - 1h
								</div>
								<div class="content-tweet">
									Vestibulum pretium, purus et congue suscipit, justo  dapibus purus, in ultricies dui orci a erat. @tempor
								</div>
								<div class="content-footer">
										<a href="/">Expand</a>
								</div>
					</div>

					<div class="content-stream">
								<img src="../public/images/techno.jpeg">
								<div class="content-stream-header">
									Praesent porttito @porttito - 1h
								</div>
								<div class="content-tweet">
									Vestibulum pretium, purus et congue suscipit, justo  dapibus purus, in ultricies dui orci a erat. @tempor
								</div>
								<div class="content-footer">
										<a href="/">Expand</a>
								</div>
					</div>

					<div class="content-stream">
								<img src="../public/images/techno.jpeg">
								<div class="content-stream-header">
									Praesent porttito @porttito - 1h
								</div>
								<div class="content-tweet">
									Vestibulum pretium, purus et congue suscipit, justo  dapibus purus, in ultricies dui orci a erat. @tempor
								</div>
								<div class="content-footer">
										<a href="/">Expand</a>
								</div>
					</div>

					<div class="content-stream">
								<img src="../public/images/techno.jpeg">
								<div class="content-stream-header">
									Praesent porttito @porttito - 1h
								</div>
								<div class="content-tweet">
									Vestibulum pretium, purus et congue suscipit, justo  dapibus purus, in ultricies dui orci a erat. @tempor
								</div>
								<div class="content-footer">
										<a href="/">Expand</a>
								</div>
					</div>

					<div class='spinner-feed-post'> <div id='spinner-container'></div></div>
				

		</div>

	</div>



<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="../public/javascript/application.js"></script>
<script src="../public/javascript/spin.js"></script>

</body>
</html>